body {
    background: url('https://www.hdcarwallpapers.com/walls/black_porsche-wide.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
}